@model IEnumerable<ÄlytaloWEB.Models.TaloValo>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    
    <script>
    function myFunction() {
    document.getElementById("").style.fontSize = "25px";
    document.getElementById("ValoOFF").style.color = "red";
}
</script>

    
    }
<h2>ValoTila</h2>

<h3>Dimmer</h3>

<button type="button"
        onclick="document.getElementById('älyaika').innerHTML = Date()">
    Päivä ja aika
</button>

<p id="älyaika"></p>



<button type="button"
        onclick="document.getElementById('ValoOFF').innerHTML = ValoOFF()">
    OFF
</button>
<p id="ValoOFF"></p>

<button type="button" onclick="myFunction()">OFF</button>


<button type="button"
        onclick="document.getElementById('ValoON').innerHTML = ValoON()">
    ON
</button>
<p id="ValoON"></p>

<button type="button"
        onclick="document.getElementById('himmeavalo').innerHTML = himmeavalo(33)">
    HIMMEÄ
</button>
<p id="himmeavalo"></p>

<button type="button"
        onclick="document.getElementById('puolivalo').innerHTML = puolivalo(66)">
    PUOLIVALO
</button>
<p id="puolivalo"></p>

<button type="button"
        onclick="document.getElementById('kirkasvalo').innerHTML = kirkasvalo(100)">
    KIRKAS
</button>
<p id="kirkasvalo"></p>


<br />

<p>
    @Html.ActionLink("Tallenna valaistustiedot", "Create")
</p>
<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Huone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValaisinType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lamppu_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValoTila_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValonMaara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValoTilaKirjattu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Huone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValaisinType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lamppu_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValoTila_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValonMaara)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValoTilaKirjattu)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Valo_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Valo_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Valo_ID })
                </td>
            </tr>
        }

    </table>
    </div>
