@model IEnumerable<ÄlytaloWEB.Models.TaloSauna>

@{
    ViewBag.Title = "Index";
}
@section scripts {



    <script src="~/Scripts/Application/SaunanKoodi.js"></script>

    <script>
    $(function(){
        initSaunanTila();
    })
    </script>
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>


<h2>SaunaSet</h2>

<p>
    <input id="SaunaTila" type="text" placeholder="saunan tila" />
</p>

<p>
    <input id="SaunaLämpö" type="text" placeholder="saunan lämpö" />
</p>

<div id="saunaTila"></div>
<div id="saunaLämpö"></div>

<p>
    <button type="button" onclick="myFunction()">Talosauna1</button>
</p>

<button onclick="this.innerHTML=@Html.DisplayNameFor(model => model.SaunaNykyLampotila) &deg;C">SaunanLämpö</button>



@*sauna OFF - ON -->*@
<br /><br />
<button type="button" onclick="myFunctionOFF()">SAUNA OFF</button>

<button type="button" onclick="myFunctionON()">SAUNA ON</button>
<br /><br />
<sauna id="mySauna" controls></sauna>

<script>
var sauna = document.getElementById("mySauna");

function myFunctionOFF() {
    alert("offnappia painettu");
    url = "/TaloSaunat/OnOff/?Sauna_ID=" + 1 + "&SaunanTila=" + "False";
    //url = "/TaloSaunat/OnOff/?Sauna_ID="1"&SaunanTila="0";
    alert(url); 
    $.ajax({ url: url, cache: false }).done(function (data) {
        //alert(data);
    });

}

function myFunctionON() {
    alert("onnappia painettu");
    url = "/TaloSaunat/OnOff/?Sauna_ID=" + 1 + "&saunanTila=" + "True";
    alert(url);
    $.ajax({ url: url, cache: false }).done(function (data) {
        //alert(data);
    });

}
</script>
@*<-- sauna OFF - ON*@


<button id="SaunanTilaButton" class="btn">
    Aseta lämpö
</button>
<br /><br />


@*tekstin ja värin vaihdos On-OFF-->*@

<script>
$(document).ready(function(){
    $("button").click(function(){
        $(this).css("background-color", "#ff8080");

    });
    });

</script>

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#demo2").val("ON");
    });
});
</script>

<script>
        function changeText(id) {
            id.innerHTML = "ON";
        }
</script>

<button type="button" onclick="changeText(this)">OFF</button>

<br /><br />
@*<--tekstin ja värin vaihdos On-OFF*@


@*malli-3 -->*@

    Talosauna1: <input type="text" id="sauna1">
<button onclick="myFunction()">Aseta saunan lämpötila</button>

<script>
        function myFunction() {
            document.getElementById("lämpö1").value = document.getElementById("sauna1").value;
        }
</script>
@*<-- malli-3*@

@using (Html.BeginForm("Index", "TaloSaunat", FormMethod.Get))
{
    <p>
        @*SaunanTila: @Html.DropDownList("SaunanTila", "All")*@
        SaunanNimi: @Html.TextBox("SearchString")
        <input type="submit" value="Suodata" />
    </p>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaunaTavoiteLampotila) <input type="text" id="field2"> &deg;C
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunaNykyLampotila)&deg;C
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.SaunanTila)
        </th>
        <th>
           
            @Html.DisplayNameFor(model => model.SaunaTilaKirjattu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saunan_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanNimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaTavoiteLampotila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaNykyLampotila)
        </td>
        <td>
            <input id="demo2" type="text" value="0" />
            <button type="button" onclick="changeText(this)" id="demo">OFF</button>
            @Html.DisplayFor(modelItem => item.SaunanTila)
        </td>
        <td>
            <button onclick="getElementById('demo').innerHTML=Date()"></button>
            <input id="demo" type="text" placeholder="saunan tila kirjattu" />
            @Html.DisplayFor(modelItem => item.SaunaTilaKirjattu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saunan_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanNimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sauna_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sauna_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sauna_ID })
        </td>
    </tr>
}

</table>
